Data Types and Structures Questions
1. What are data structures, and why are they important?
  - Data structures organize and store data efficiently. They are important because they optimize data access, modification, and processing for various computational tasks.

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types (like lists and dictionaries) can be changed after creation, whereas immutable data types (like tuples and strings) cannot be modified. Example: list = [1, 2, 3] (mutable), tuple = (1, 2, 3) (immutable).

3. What are the main differences between lists and tuples in Python?
  - Lists are mutable, slower, and use more memory, whereas tuples are immutable, faster, and use less memory. Lists are defined with [], and tuples with ().

4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs using a hash table, allowing quick lookups and modifications. Example: dict = {"name": "John", "age": 25}.

5. Why might you use a set instead of a list in Python?
  - Sets remove duplicate values automatically and provide faster membership checks (in operator) due to their hash-based structure.

6. What is a string in Python, and how is it different from a list?
  - A string is an immutable sequence of characters, whereas a list is mutable and can store elements of different types. Example: "hello" (string) vs. ['h', 'e', 'l', 'l', 'o'] (list).

7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, meaning their values cannot be changed after creation, ensuring data consistency and preventing accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table stores key-value pairs using a hashing function for fast lookups. Python dictionaries use hash tables internally for efficient data retrieval.

9. Can lists contain different data types in Python?
  - Yes, lists can store elements of different data types, such as integers, strings, and even other lists. Example: [1, "hello", 3.14, [5, 6]].

10. Explain why strings are immutable in Python.
  - Strings are immutable to improve performance, security, and memory efficiency. Any modification creates a new string instead of altering the original.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries allow fast lookups by keys, making them more efficient than lists for searching and retrieving data when key-value relationships are needed.

12. Describe a scenario where using a tuple would be preferable over a list.
  - Tuples are preferred when storing fixed data, such as database records, coordinates, or function return values, where immutability ensures data consistency.

13. How do sets handle duplicate values in Python?
  - Sets automatically remove duplicate values and store only unique elements. Example: {1, 2, 2, 3} becomes {1, 2, 3}.

14. How does the “in” keyword work differently for lists and dictionaries?
  - In lists, in checks if a value exists, while in dictionaries, it checks for the presence of a key, not a value.

15. Can you modify the elements of a tuple? Explain why or why not.
  - No, tuples are immutable, meaning elements cannot be changed, added, or removed after creation.

16. What is a nested dictionary, and give an example of its use case.
  - A nested dictionary is a dictionary inside another dictionary, useful for storing hierarchical data. Example:
student = {"name": "John", "marks": {"math": 90, "science": 85}}

17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing an element in a dictionary has an average time complexity of O(1) due to hash table implementation.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred when ordering matters, sequential data storage is needed, or when keys are unnecessary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries (before Python 3.7) do not guarantee order because they use hashing; however, in Python 3.7+, insertion order is maintained. Retrieval is always based on keys, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists retrieve data by index, requiring O(n) for searching, while dictionaries retrieve data using keys in O(1) time due to hashing.

In [2]:
#Practical Questions
#1. Write a code to create a string with your name and print it.
name = "Dinesh Choudhary"
print(name)

Dinesh Choudhary

In [3]:
#2. Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [4]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print(string[:3])

Pyt

In [5]:
#4. Write a code to convert the string "hello" to uppercase.
string ="Hello"
print(string.upper())

HELLO

In [9]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string="I like apple"
print(string.replace("apple","orange"))

I like orange

In [10]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
mylist =[]
for i in range(1,5):
  mylist.append(i)
print(mylist)

[1, 2, 3, 4]

In [11]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
mylist=[1,2,3,4]
mylist.append(10)
print(mylist)

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
mylist=[1,2,3,4,5]
mylist.remove(3)
print(mylist)

[1, 2, 4, 5]

In [13]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list=['a','b','c','d']
print(my_list[1])

b

In [14]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list=[10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [15]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
mytuple=(100,200,300)
print(mytuple)

(100, 200, 300)

In [16]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple=('red','green','blue','yellow')
print(my_tuple[1:])

('green', 'blue', 'yellow')

In [17]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple=(10,20,5,15)
print(min(my_tuple))

5

In [18]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple=('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

In [19]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple=('apple','banana','kiwi')
if 'kiwi' in my_tuple:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

In [20]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
myset={'a','b','c'}
print(myset)

{'b', 'a', 'c'}

In [21]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
myset={1,2,3,4,5}
myset.clear()
print(myset)

set()

In [22]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
myset={1,2,3,4}
myset.remove(4)
print(myset)

{1, 2, 3}

In [24]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [29]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
intersection_set=set1.intersection(set2)
print(intersection_set)

{2, 3}

In [30]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
mydict={"name":"John","age":25, 'city':'Jaipur'}
print(mydict)

{'name': 'John', 'age': 25, 'city': 'Jaipur'}

In [31]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
mydict={"name":'John','age':25}
mydict['country']='USA'
print(mydict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
mydict={'name':'Alice','age':30}
print(mydict['name'])

Alice

In [34]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
mydict={'name':'Bob', 'age':22, 'city':'New York'}
mydict.pop('age')
print(mydict)

{'name': 'Bob', 'city': 'New York'}

In [35]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
mydict={'name':'Alice', 'city':'Paris'}
if 'city' in mydict:
  print("City is in the dictionary")
else:
  print("City is not in the dictionary")

City is in the dictionary

In [37]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
mylist=[1,2,3,4,5]
mytuple=(1,2,3,4,5)
mydict={1:'one', '2': 'two', 3:'three'}
print(mylist)
print(mytuple)
print(mydict)
#print(mylist, mytuple, mydict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1: 'one', '2': 'two', 3: 'three'}

In [43]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_list=[]
for i in range(5):
  random_list.append(random.randint(1,100))
random_list.sort()
print(random_list)

[7, 24, 55, 57, 74]

In [38]:
#28. Write a code to create a list with strings and print the element at the third index.
string_list=['Dinesh', 'Anil', 'Vinit', 'Akash']
print(string_list[3])

Akash

In [39]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1={1:'one', 2:'two', 3:'three'}
dict2={4:'four', 5:'five', 6:'six'}
dict1.update(dict2)
print(dict1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [42]:
#30. Write a code to convert a list of strings into a set.
string_list=['Dinesh', 'Anil', 'Vinit', 'Akash']
convert_to_set=set(string_list)
print(convert_to_set)

{'Vinit', 'Dinesh', 'Anil', 'Akash'}